[Unit]
Description=Backup Podman Volume to S3
After=network-online.target

[Service]
Type=oneshot

EnvironmentFile=%h/.env.podman-volume-porter

WorkingDirectory=%h/
ExecStart=/bin/podman-volume-porter backup '*'

Restart=on-failure
RestartSec=3600
